.ace_directive.ace_equ{
    color:rgb(71, 225, 0);
}

.ace_directive.ace_db{
    color:rgb(71, 225, 0);
}

.ace_instruction{
    color: red;
}

.ace_instruction.ace_immediate{
    color: cyan;
}

.ace_instruction.ace_jump{
    color: orange;
}
.ace_function.ace_key{
    color: magenta;
}
.ace_function.ace_name{
    color: rgb(221, 187, 136);
}