body{
    margin:0;
    padding:0;
}

#topbar{
    width: 100%;
    height:6vh;
    background: green;
    margin:0;
    padding:0;

}
    #topbar h2{
        margin:0;
        padding:0;
    }
    #main-operations {
        display:flex;
        height:3vh;
    }

    #opened-files-wrapper{
        display: flex;
    }
    .file_window_icon{
        background: red;
        margin-right: 10px;
    }


#code-wrapper{
    padding: 0;
    width:100%;
    height: 95vh;
    background: red;
}

#editor-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
}
    #AssemblyEditor{
        width: 80%;
        height:50vh;
    }

    #MachineCodePreview{
        background: black;
        color: white;
        width: 20%;
        height:50vh;
        overflow-y: scroll;
    }

#assemble-button-wrapper{
    width:100%;
    height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
    #assemble-button{
        width: 200px;
        height: 30px;
    }



/*CONSOLE RULES*/
#console-wrapper{
  position: relative;
  bottom:0;  
  width:100%;
  height: 40vh;
}
    #console-topbar{
        width: 100%; 
        background:white;
        border-width:0px;
        border-style:solid;
        display:flex;
        align-items: center;
        height: 3vh;
    }
    #console_title{
        width: 20%
    }
    #output_result{
        width: 75%;
    }
    #close_terminal{
        width:5%;
    }
        #close_terminal button{
            border-radius: 50%;
        }
    #console{
        width: 100%;
        height: 37vh;
        background:green;
        border-width:0px;
        border-style:solid;
        overflow: scroll;
        color:white;
    }