/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat.ttf');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*INVERT ICON COLOR*/
.inverted_color{
    filter: invert(100%);
}



/* TEMP: ACE DIRECTIVES */
.ace_comment.ace_line{
    color:rgb(99, 99, 99)
}
.ace_directive.ace_equ{
    color:rgb(67, 141, 33);
}

.ace_directive.ace_db{
    color:rgb(67, 141, 33);
}

.ace_function.ace_key{
    color: rgb(154, 15, 145);
}
.ace_function.ace_name{
    color: rgb(245, 210, 9);
}

.ace_tag{
    color: orange;
}

/*
.ace_instruction.ace_register.ace_cop{
    color: rgb(218, 16, 16);
}*/

/*
.ace_instruction.ace_immediate.ace_cop{
    color: rgb(21, 224, 224);
}*/

.ace_instruction.ace_memory.ace_cop{
    color: rgb(21, 224, 224);
}

.ace_instruction.ace_memory.ace_constant{
    color: rgb(50, 119, 119);
}

.ace_instruction.ace_immediate.ace_constant{
    color: rgb(50, 119, 119);
}

/*
.ace_instruction.ace_jump.ace_cop{
    color: orange;
}*/

.ace_instruction.ace_beqz.ace_cop{
    color: rgb(123, 0, 12);
}

/*SPECIAL CASES*/
.ace_instruction.ace_tag_reference{
    color: orange;
}